@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");
:root {
  --kok: #42C0BE;
  --back: #F1F1F1;
  --text: #b3aeae;
  --boldText:#1d1515;
  --black: black; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

.navigation_menu {
  width: 100%;
  height: 5.5rem;
  background-color: white;
  box-shadow: 0 0 0.5rem gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 2rem; }
  .navigation_menu .nav_left {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation_menu .nav_left span {
      color: var(--kok); }
  .navigation_menu .nav_right {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem; }

.navigation_popups {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
  z-index: 100;
  transform: translateX(100vw);
  display: none; }
  .navigation_popups .navigation_popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 99vh;
    background-color: var(--kok);
    color: white;
    font-size: 2rem;
    text-align: center; }
    .navigation_popups .navigation_popup .navigation_items {
      padding-top: 8rem;
      display: flex;
      flex-direction: column;
      gap: 4rem; }
      .navigation_popups .navigation_popup .navigation_items a {
        display: inline-block;
        color: white; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

:root {
  --kok: #42C0BE;
  --back: #F1F1F1;
  --text: #b3aeae;
  --boldText:#2A2A2A; }

.container_audio {
  background-color: var(--back);
  width: 136.6rem;
  font-size: 1rem;
  height: 100vh;
  margin: 0 auto; }

.home_page {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem;
  height: 92%; }
  .home_page .basic_content {
    padding: 3rem;
    overflow: scroll; }
    .home_page .basic_content::-webkit-scrollbar {
      width: 12px; }
    .home_page .basic_content .content_title {
      font-size: 4rem;
      margin-bottom: 1rem;
      opacity: 0.9; }
    .home_page .basic_content .content_description {
      font-size: 1.8rem;
      line-height: 2rem;
      padding: 1rem 0;
      opacity: 0.8; }
    .home_page .basic_content .container_arabic {
      font-size: 10rem; }
    .home_page .basic_content .content_title_text {
      font-size: 3rem;
      margin: 1rem auto;
      opacity: 0.8;
      text-align: center; }
    .home_page .basic_content .content_title_text_one .content_uzbek {
      text-align: start; }
    .home_page .basic_content .content_title_text_one .content_arabic {
      text-align: end; }
    .home_page .basic_content .content_title_text_one audio {
      border: 2px solid var(--kok);
      width: 100%;
      padding: 0.1rem;
      margin: 1rem 0;
      border-radius: 2rem; }
  .home_page .basic_menu {
    padding: 2.5rem;
    background-color: var(--kok);
    color: white;
    overflow: scroll;
    position: relative; }
    .home_page .basic_menu::-webkit-scrollbar {
      width: 0px; }
    .home_page .basic_menu .basic_menu_title {
      font-size: 2rem;
      text-align: center;
      position: fixed;
      top: 7rem;
      right: 2rem;
      width: 32rem;
      background-color: var(--kok);
      height: 6rem;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center; }
    .home_page .basic_menu .basic_menu_parts {
      margin-top: 3rem;
      font-size: 1.8rem;
      border-bottom: 1px solid white;
      padding: 0.5rem; }
      .home_page .basic_menu .basic_menu_parts span {
        margin: 0 10px 0 0; }

:root {
  --kok: #42C0BE;
  --back: #F1F1F1;
  --text: #b3aeae;
  --boldText:#2A2A2A;
  --black: black;
  --oq:white; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

body {
  background-color: var(--back); }

.container_app {
  max-width: 136.6rem;
  margin: 0 auto; }

.basic_home {
  color: var(--oq);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 89vh;
  width: 100%;
  line-height: 4rem;
  font-weight: 600;
  letter-spacing: 0.3rem; }
  .basic_home span {
    color: #94dddcf8;
    margin: 0.3rem; }
  .basic_home .home_text {
    font-size: 1.6rem; }

.categories {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .categories .categorie_title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    height: 5rem;
    margin-bottom: 5rem;
    font-weight: 550; }
    .categories .categorie_title_box span {
      width: 1.5rem;
      height: 1.5rem;
      transform: rotate(45deg);
      background-color: var(--kok); }
    .categories .categorie_title_box hr {
      width: 8rem;
      margin: 1rem;
      border: 1px dashed var(--kok); }
    .categories .categorie_title_box div {
      margin: 1rem;
      color: var(--kok); }
  .categories .categorie_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem auto;
    gap: 2rem; }
    .categories .categorie_boxes .categorie_box {
      background-color: white;
      box-shadow: 0 0 0.5rem rgba(204, 185, 185, 0.527);
      width: 25rem;
      height: 22rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.5rem;
      gap: 1rem;
      position: relative;
      overflow: hidden; }
      .categories .categorie_boxes .categorie_box span {
        position: absolute;
        left: -3rem;
        bottom: -3rem;
        transform: rotate(45deg);
        background-color: var(--kok);
        width: 5.8rem;
        height: 5rem; }
      .categories .categorie_boxes .categorie_box i {
        font-size: 3rem;
        opacity: 0.6;
        margin: 1rem; }

.about {
  width: 100%;
  height: 110vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-top: 5rem; }
  .about .about_one {
    padding: 2rem 5rem;
    font-size: 1.5rem;
    line-height: 2.5rem; }
    .about .about_one .about_title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.6rem;
      height: 5rem;
      margin-bottom: 5rem;
      font-weight: 550; }
      .about .about_one .about_title span {
        width: 1.2rem;
        height: 1.2rem;
        transform: rotate(45deg);
        background-color: var(--kok); }
      .about .about_one .about_title hr {
        width: 6rem;
        margin: 1rem;
        border: 1px dashed var(--kok); }
      .about .about_one .about_title div {
        margin: 1rem;
        color: var(--kok); }
    .about .about_one .about_note {
      margin: 3rem 0;
      font-weight: 550;
      font-size: 2.2rem; }
      .about .about_one .about_note div {
        display: inline-block;
        margin: 0 1rem 0 0;
        width: 1rem;
        height: 1rem;
        border-radius: 0.3rem;
        background-color: var(--kok);
        transform: rotate(45deg); }
    .about .about_one .about_items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: start; }
      .about .about_one .about_items .about_item {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 5rem; }
        .about .about_one .about_items .about_item div {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          background-color: var(--kok);
          transform: rotate(45deg);
          margin: 1rem;
          border-radius: 0.3rem; }
  .about .about_two {
    padding: 4rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .about .about_two img {
      width: 55rem;
      height: 50rem; }

.video {
  margin: 5rem 1rem; }

.blogs {
  width: 100%;
  height: 120vh;
  padding: 1rem; }
  .blogs .blog_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    height: 5rem;
    margin: 10rem 0;
    margin-bottom: 5rem;
    font-weight: 550; }
    .blogs .blog_title span {
      width: 1.2rem;
      height: 1.2rem;
      transform: rotate(45deg);
      background-color: var(--kok); }
    .blogs .blog_title hr {
      width: 6rem;
      margin: 1rem;
      border: 1px dashed var(--kok); }
    .blogs .blog_title div {
      margin: 1rem;
      color: var(--kok); }
  .blogs .blog_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem; }
    .blogs .blog_boxes .blog_box {
      border: 1px solid var(--text);
      width: 30rem;
      height: 45rem;
      margin: 1rem auto;
      position: relative; }
      .blogs .blog_boxes .blog_box .blog_data {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--kok);
        width: 6rem;
        height: 8rem;
        color: var(--oq);
        border: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center; }
        .blogs .blog_boxes .blog_box .blog_data span {
          font-size: 2.5rem; }
      .blogs .blog_boxes .blog_box img {
        width: 100%;
        height: 50%; }
      .blogs .blog_boxes .blog_box .blog_statistic {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        padding: 1rem;
        font-size: 1.2rem; }
        .blogs .blog_boxes .blog_box .blog_statistic i {
          margin: 0.5rem; }
      .blogs .blog_boxes .blog_box hr {
        width: 3rem;
        height: 0.2rem;
        margin: 0 1rem;
        background-color: var(--boldText);
        border: none; }
      .blogs .blog_boxes .blog_box .blog_card_title {
        font-size: 2rem;
        margin: 1rem; }
      .blogs .blog_boxes .blog_box .blog_description {
        font-size: 1.2rem;
        color: var(--text);
        line-height: 2rem;
        margin: 1rem; }

.succes {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.2rem;
  padding: 2rem;
  background: linear-gradient(90deg, #42c0be 0%, #2d9896 69%, #287d7c 100%); }
  .succes .suc_next {
    text-align: center; }

.upcomming {
  width: 100%;
  height: 110vh; }
  .upcomming .upcomming_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    height: 5rem;
    margin: 8rem  0 1rem 0;
    font-weight: 550; }
    .upcomming .upcomming_title span {
      width: 1.2rem;
      height: 1.2rem;
      transform: rotate(45deg);
      background-color: var(--kok); }
    .upcomming .upcomming_title hr {
      width: 6rem;
      margin: 1rem;
      border: 1px dashed var(--kok); }
    .upcomming .upcomming_title div {
      margin: 1rem;
      color: var(--kok); }
  .upcomming .upcomming_description {
    opacity: 0.7;
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 2.5rem; }
  .upcomming .upcomming_carusel {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 45rem; }
    .upcomming .upcomming_carusel .upcomming_before, .upcomming .upcomming_carusel .upcomming_next {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .upcomming .upcomming_carusel .upcomming_before div, .upcomming .upcomming_carusel .upcomming_next div {
        background-color: var(--kok);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        transform: rotate(45deg);
        color: var(--oq); }
        .upcomming .upcomming_carusel .upcomming_before div i, .upcomming .upcomming_carusel .upcomming_next div i {
          transform: rotate(-45deg); }

.upcomming_content {
  display: flex;
  justify-content: center;
  align-items: center; }
  .upcomming_content .upcomming_three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    background-color: var(--oq); }
    .upcomming_content .upcomming_three .three_img {
      display: flex;
      justify-content: center;
      align-items: center; }
      .upcomming_content .upcomming_three .three_img img {
        width: 22rem;
        height: 20rem; }
    .upcomming_content .upcomming_three .three_content {
      padding: 2rem; }
      .upcomming_content .upcomming_three .three_content .three_title {
        font-size: 2rem; }
      .upcomming_content .upcomming_three .three_content .three_naqsh {
        display: flex;
        justify-content: start;
        align-items: center; }
        .upcomming_content .upcomming_three .three_content .three_naqsh hr {
          width: 10rem;
          height: 0.2rem;
          border: none;
          background-color: var(--boldText); }
        .upcomming_content .upcomming_three .three_content .three_naqsh span {
          width: 1.5rem;
          height: 1.5rem;
          background-color: var(--kok);
          margin: 1rem;
          transform: rotate(45deg); }
      .upcomming_content .upcomming_three .three_content .three_description {
        font-size: 1.5rem;
        opacity: 0.7; }
